{{#paper-nav-container}}
  {{#paper-sidenav-container class="inner-sidenav"}}
    {{search-results openNav=model.openNav isLoading=model.isLoading resultSelected=(action 'resultSelected') message=model.message providers=model.providers}}
    {{#paper-content flex=true}}
      {{#paper-toolbar}}
        <h2>Fiber Finder</h2>
      {{/paper-toolbar}}
      {{#paper-card title='Search' class="flex" md-colspan="2"}}
        {{map-search addressSelected=(action 'addressSelected') geoJSON=model.geoJSON}}
      {{/paper-card}}
    {{/paper-content}}
  {{/paper-sidenav-container}}
{{/paper-nav-container}}
